[submodule "libraries/fmt"]
	path = libraries/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "libraries/cpr"]
	path = libraries/cpr
	url = https://github.com/libcpr/cpr.git
[submodule "libraries/fast_float"]
	path = libraries/fast_float
	url = https://github.com/fastfloat/fast_float.git
